body {
    display: flex;
    justify-content: center; /* Horizontally center align */
    align-items: center; /* Vertically center align */
    height: 100vh; 
    margin: 0;
}

.container {
    width: 0%; 
    padding: 230px;

}
.krish{
    background-color: lightgreen; 
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 0 10px green; 
}

body{
    background-color: white;
    background-repeat: no-repeat, no-repeat;
    background-position-x: 145%;
    background-position-y: 7%;
    font-size: large;
}


#some{
    padding-bottom: 41%;
    padding-left:0%;
}


